@import '../../../global.scss';

.quiz {
  display: flex;
  background-color: #d1d7e0;

  @media (max-width:  1024px) {
    flex-direction: column;
    align-items: center;
  }
  @media (max-width:  375px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;

    @media (max-width: 1024px) {
      margin: 25px 25px;
      width: 90%;
      justify-content: flex-start;
    }

    @media (max-width:  428px) {
      margin-top: 70px;
      width: 90%;
      height: 100%;
      flex-direction: column;
    }
    @media (max-width:  375px) {
      width: 90%;
      height: 100%;
      flex-direction: column;
    }

    h1 {
      font-size: 105px;
      color: #5680e9;
      font-style: italic;

      @media (max-width: 1024px) {
        font-size: 100px;
        text-align: center;
        justify-content: center;
      }

      @media (max-width:  428px) {
        font-size: 70px
      }
      @media (max-width:  375px) {
        font-size: 50px
      }
    }
    
    h3 {
        font-weight: 300;
        font-size: 50px;
        color: #5680e9;

        @media (max-width: 1024px) {
          font-size: 45px;
        }

        @media (max-width:  428px) {
          font-size: 30px
        }
        @media (max-width:  375px) {
          font-size: 20px
        }
    }

    p {
        font-size: 28px;
        flex-wrap: wrap;

        @media (max-width: 1024px) {
          font-size: 25px;
        }

        @media (max-width:  768px) {
          font-size: 17px
        }
        @media (max-width:  428px) {
          font-size: 21px
        }
        @media (max-width:  375px) {
          font-size: 17px
        }
    }

    .progress {
      margin-bottom: 10px;
      width: 40%;

      @media (max-width:  1024px) {
        width: 100%;
      }
      @media (max-width:  375px) {
        width: 100%;
      }
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 10px;

      a {
        color: black;
        background-color: white;
        border: 1px solid#5680e9;
        width: 150px;
        margin-right: 10px;

        &:hover {
          color: white;
          background-color: #5680e9;
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;

    @media (max-width: 1024px) {
      margin-bottom: 40%;
      flex-direction: row;
    }
    @media (max-width: 768px) {
      margin-bottom: 20%;
      flex-direction: row;
    }

    @media (max-width: 428px) {
      display: none;
    }
    @media (max-width: 375px) {
      display: none;
    }

    img {
        width: 800px;
        margin: 20px 20px;
        height: 400px;
        object-fit:cover 100%;

        @media (max-width: 1024px) {
          width: 330px;
          height: 200px;
          margin: 5px;
        }
        @media (max-width: 768px) {
          width: 250px;
          height: 150px;
          margin: 5px;
        }
    }
  }
}
