@import '../../../global.scss';

.team {
    display: flex;
    background-color: #ecf0f1;
  
    @media (max-width:  375px) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  
    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 30px;
  
      @media (max-width:  375px) {
        width: 90%;
        height: 100%;
        flex-direction: column;
      }
  
  
      
        h1 {
            font-size: 100px;
            color: salmon;
            font-style: italic;

            @media (max-width:  375px) {
              font-size: 55px;
              text-align: center;
            }
          }
      

      .inProgress {
        background-color: yellow;
        font-size: 10px;
        border-radius: 5%;
        width: 60px;
        color: black;
        text-align: center;
        padding: 3px;
  
        @media (max-width:  375px) {
          font-size: 8px;
          width: 55px;
        }
      }
  
      h3 {
        font-size: 45px;
  
        @media (max-width:  375px) {
          font-size: 20px
        }
      }
  
      p {
        font-size: 24px;
  
        @media (max-width:  375px) {
          font-size: 13px;
          overflow: hidden;

        }

      }
  
      .progress {
        margin: 10px;
        width: 40%;
  
        @media (max-width:  375px) {
          width: 100%;
        }
      }
  
      .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px;
  
        a {
          color: salmon;
          background-color: white;
          border: 1px solid royalblue;
          width: 150px;
          margin-right: 10px;
  
          &:hover {
            color: white;
            background-color: royalblue;
          }
        }
      }
    }

    .right {
        display: flex;
        
    
        @media (max-width:  375px) {
          display: none;
      }
    
    
        img {
            width: 800px;
            height: 600px;
            margin: 20px 20px;
            object-fit:cover 100%;
        }
      }
}