@import '../../../global.scss';

.password {
  display: flex;
  background-color: white;

  @include mobile {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;

    @include mobile {
      width: 90%;
      height: 100%;
      flex-direction: column;
    }


    h1 {
      font-size: 100px;
      color: #222;
      font-style: italic;
      @include mobile {
        font-size: 50px
      }
    }

    h3 {
      font-size: 50px;

      @include mobile {
        font-size: 20px
      }
    }

    p {
      font-size: 25px;

      @include mobile {
        font-size: 13px
      }
    }

    .progress {
      margin: 10px;
      width: 40%;

      @include mobile {
        width: 100%;
      }
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 10px;

      a {
        color: black;
        background-color: white;
        border: 1px solid hsl(360, 91%, 36%);
        width: 150px;
        margin-right: 10px;

        &:hover {
          color: white;
          background-color: hsl(360, 91%, 36%);
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;

    @include mobile {
      display: none;
  }


    img {
        width: 800px;
        margin: 20px 20px;
        height: 400px;
        object-fit:cover 100%;
    }
  }
}
