.password {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

@media (max-width: 1024px) {
  .password {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 375px) {
  .password {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.password .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

@media (max-width: 1024px) {
  .password .left {
    margin: 25px 25px;
    width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 428px) {
  .password .left {
    margin-top: 70px;
    width: 90%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  .password .left {
    width: 90%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.password .left h1 {
  font-size: 100px;
  color: #af0808;
  font-style: italic;
}

@media (max-width: 1024px) {
  .password .left h1 {
    font-size: 100px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 428px) {
  .password .left h1 {
    font-size: 50px;
  }
}

@media (max-width: 375px) {
  .password .left h1 {
    font-size: 50px;
  }
}

.password .left h3 {
  font-size: 50px;
}

@media (max-width: 1024px) {
  .password .left h3 {
    font-size: 45px;
  }
}

@media (max-width: 428px) {
  .password .left h3 {
    font-size: 30px;
  }
}

@media (max-width: 375px) {
  .password .left h3 {
    font-size: 20px;
  }
}

.password .left p {
  font-size: 25px;
}

@media (max-width: 1024px) {
  .password .left p {
    font-size: 25px;
  }
}

@media (max-width: 428px) {
  .password .left p {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .password .left p {
    font-size: 13px;
    overflow: hidden;
  }
}

.password .left .progress {
  margin: 10px;
  width: 40%;
}

@media (max-width: 1024px) {
  .password .left .progress {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .password .left .progress {
    width: 100%;
  }
}

.password .left .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px;
}

.password .left .buttonContainer a {
  color: black;
  background-color: white;
  border: 1px solid #af0808;
  width: 150px;
  margin-right: 10px;
}

.password .left .buttonContainer a:hover {
  color: white;
  background-color: #af0808;
}

.password .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .password .right {
    margin-bottom: 30%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 428px) {
  .password .right {
    display: none;
  }
}

@media (max-width: 375px) {
  .password .right {
    display: none;
  }
}

.password .right img {
  width: 800px;
  margin: 20px 20px;
  height: 400px;
  -o-object-fit: cover 100%;
     object-fit: cover 100%;
}

@media (max-width: 1024px) {
  .password .right img {
    width: 430px;
    height: 300px;
    margin: 25px;
  }
}
/*# sourceMappingURL=password.css.map */