@import '../../../global.scss';

.password {
  display: flex;
  background-color: white;

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 10px;

    @include mobile {
      flex-direction: column;
      align-items: center;
  }

    h1 {
      font-size: 100px;
      color: #222;
      font-style: italic;
    }

    h3 {
      font-size: 50px;
    }

    p {
      font-size: 25px
    }

    .progress {
      margin: 10px;
      width: 40%;
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 10px;

      a {
        color: black;
        background-color: white;
        border: 1px solid hsl(360, 91%, 36%);
        width: 150px;
        margin-right: 10px;

        &:hover {
          color: white;
          background-color: hsl(360, 91%, 36%);
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;

    @include mobile {
      align-items: flex-start;
      margin-top: 1px;
  }


    img {
        width: 800px;
        margin: 20px 20px;
        height: 400px;
        object-fit:cover 100%;
    }
  }
}
