@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import '../../../global.scss';


.astroscope {
    background-color: white;
    display: flex;
    overflow: hidden;

    @include mobile {
        flex-direction: column;
        align-items: center;
        padding: 10px;
      }
    .left {
        flex: 2;
        width: 70%;
        height: 50%;
        @include mobile {
            display: none;
          }


        h2 {
            margin-left: 380px;
            font-size: 35px;
            color: black;     
            font-family:Poppins;
            font-weight:200;
            font-style:italic;
            letter-spacing: 2px; 
            text-transform: uppercase;

        }

        img {
            margin-left: 10px;
            height: 100%;
            box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
            object-fit: contain 100%;
           
        }
    }

    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
       

        h1 {
            font-family:Poppins;
            font-weight:200;
            font-style:italic;
            font-size:95px;
            letter-spacing:3px;
            color: #996164;
            justify-content: center;
            align-items: center;

            @include mobile {
                font-size: 50px
              }
        }

        h5 {
            text-align: start;

            @include mobile {
                font-size: 20px
              }
        }

        p {
            padding: 0 5px;
            font-size: 18px;
            @include mobile {
                font-size: 13px;
                flex-wrap: wrap;
              }
        }

        .contributors {
            display: flex;
            flex-direction: column;
      
            a {
              flex-direction: row;
              color: #996164;
              cursor: pointer;
              text-decoration: none;
              list-style: none;
            }
          }

          .progress {
           margin-bottom: 10px;
           width: 80%;
           @include mobile {
            width: 90%;
          }
          }

          .buttonContainer {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            margin: 10px;
        
            a {
              background-color: #996164;
              color: white;
              width: 150px;
              margin-right: 10px;
            }
            
          }
    }
}