@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import '../../../global.scss';


.astroscope {
    background-color: white;
    display: flex;
    overflow: hidden;

 
    @media (max-width:  375px) {
        flex-direction: column;
        align-items: center;
        padding: 10px;
      }
    
    .left {
      display: flex;
      position: absolute;
      color: black;
      flex-direction: column;
      width: 50%;
      margin: 10px;

      @media (max-width: 1024px) {
        justify-content: flex-start;
        width: 95%;
      }
      
      @media (max-width:  428px) {
        margin-top: 60px;
        width: 90%;
        height: 100%;
        flex-direction: column;
      }
      @media (max-width:  375px) {
        margin: 5px;
        width: 90%;
        height: 100%;
        flex-direction: column;
      }
      h1 {
        font-family:Poppins;
        font-weight:200;
        font-style:italic;
        font-size:95px;
        letter-spacing:3px;
        color: #996164;
        justify-content: center;
        align-items: center;

        @media (max-width: 1024px) {
          font-size: 70px;
          text-align: center;
          justify-content: center;
        }
        @media (max-width:  428px) {
          font-size: 50px;
          text-align: center;
        }
        @media (max-width:  375px) {
          font-size: 50px
        }
      }
      
      h5 {
        text-align: start;
        
        @media (max-width:  375px) {
          font-size: 20px
        }
      }
      
      p {
        padding: 0 5px;
        font-size: 18px;
        @media (max-width:  375px) {
          font-size: 13px;
          flex-wrap: wrap;
        }
      }
      
      .contributors {
        display: flex;
        flex-direction: column;
        
        a {
          flex-direction: row;
          color: #996164;
          cursor: pointer;
          text-decoration: none;
          list-style: none;
        }
      }
      
      .progress {
        margin-bottom: 10px;
        width: 80%;
        @media (max-width:  375px) {
          width: 90%;
        }
      }
      
      .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px;
        
        a {
          background-color: #996164;
          color: white;
          width: 150px;
          margin-right: 10px;
        }
        
      }
      
    }
    
    .right {
      display: flex;
      top: 20px;
      position: relative;
      justify-content: flex-end;
      width: 876px;
      height: 498px;
      margin-left: 50%;
      margin-right: 5px;
      
      @media (max-width: 1024px) {
        margin-top: 70%;
        margin-right: 5%;
        margin-left: 70px;
      }
      @media (max-width: 768px) {
        margin-top: 75%;
        margin-right: 10%;
      }
        @media (max-width:  428px) {
          display: none;
        }
        @media (max-width:  375px) {
          display: none;
        }
    
        img {
          width: 100%;
          height: 100%;
          object-fit: cover 100%;
        }

    }
}