.budget {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
}

@media (max-width: 1024px) {
  .budget {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 375px) {
  .budget {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

.budget .left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 30px;
}

@media (max-width: 1024px) {
  .budget .left {
    margin: 25px 25px;
    width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .budget .left {
    margin-top: 55px;
    width: 90%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

@media (max-width: 428px) {
  .budget .left {
    margin-top: 85px;
    width: 90%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 375px) {
  .budget .left {
    width: 90%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.budget .left h1 {
  font-size: 100px;
  color: #6666ff;
  font-style: italic;
}

@media (max-width: 1024px) {
  .budget .left h1 {
    font-size: 100px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 768px) {
  .budget .left h1 {
    font-size: 75px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 428px) {
  .budget .left h1 {
    font-size: 55px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .budget .left h1 {
    font-size: 55px;
    text-align: center;
  }
}

.budget .left .inProgress {
  background-color: yellow;
  font-size: 10px;
  border-radius: 5%;
  width: 60px;
  color: black;
  text-align: center;
  padding: 3px;
}

@media (max-width: 1024px) {
  .budget .left .inProgress {
    font-size: 12px;
    width: 70px;
  }
}

@media (max-width: 375px) {
  .budget .left .inProgress {
    font-size: 8px;
    width: 55px;
  }
}

.budget .left h3 {
  font-size: 45px;
}

@media (max-width: 1024px) {
  .budget .left h3 {
    font-size: 45px;
  }
}

@media (max-width: 768px) {
  .budget .left h3 {
    font-size: 25px;
  }
}

@media (max-width: 428px) {
  .budget .left h3 {
    font-size: 35px;
  }
}

@media (max-width: 375px) {
  .budget .left h3 {
    font-size: 20px;
  }
}

.budget .left p {
  font-size: 24px;
}

@media (max-width: 1024px) {
  .budget .left p {
    font-size: 25px;
  }
}

@media (max-width: 768px) {
  .budget .left p {
    font-size: 15px;
  }
}

@media (max-width: 428px) {
  .budget .left p {
    font-size: 15px;
  }
}

@media (max-width: 375px) {
  .budget .left p {
    font-size: 13px;
    overflow: hidden;
  }
}

.budget .left .progress {
  margin: 10px;
  width: 40%;
}

@media (max-width: 1024px) {
  .budget .left .progress {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .budget .left .progress {
    width: 100%;
  }
}

.budget .left .buttonContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 10px;
}

.budget .left .buttonContainer a {
  color: #6666ff;
  background-color: white;
  border: 1px solid #6666ff;
  width: 150px;
  margin-right: 10px;
}

.budget .left .buttonContainer a:hover {
  color: white;
  background-color: #6666ff;
}

.budget .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 1024px) {
  .budget .right {
    margin-bottom: 20%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 768px) {
  .budget .right {
    margin-bottom: 10%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 428px) {
  .budget .right {
    display: none;
  }
}

@media (max-width: 375px) {
  .budget .right {
    display: none;
  }
}

.budget .right img {
  width: 800px;
  margin: 20px 20px;
  height: 400px;
  -o-object-fit: cover 100%;
     object-fit: cover 100%;
}

@media (max-width: 1024px) {
  .budget .right img {
    width: 650px;
    height: 400px;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .budget .right img {
    width: 450px;
    height: 300px;
    margin: 0;
  }
}
/*# sourceMappingURL=budget.css.map */