@import "../../global.scss";

.portfolio {
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 50px;
    padding: 10px;

    @media screen and (max-width:  428px) {
      font-size: 25px;
 
    }
    @media screen and (max-width:  375px) {
      font-size: 25px;
      overflow: hidden;
    }
  }

  ul {
    margin: 10px;
    padding: 0;
    list-style: none;
    display: flex;

    

    @media screen and (max-width:  428px) {
      flex-direction: row;
      justify-content: center space-between;
      padding-left: 50px;
      overflow: hidden;
    }
    @media screen and (max-width:  375px) {
      flex-direction: row;
      justify-content: center space-between;
      padding-left: 50px;
      overflow: hidden;
    }
  }

  .container {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    
    @media screen and (max-width:  375px) {
      width: 100%;
      overflow: hidden;
    }

    .item {
      margin: 10px 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      width: 380px;
      height: 200px;
      border-radius: 10px;
      position: relative;
      transform: all 0.5s ease;
      cursor: pointer;

      @media (max-width: 1024px) {
        width: 300px;
        height: 150px;
      }
      @media (max-width: 768px) {
        width: 200px;
        height: 120px;
      }
      @media (max-width: 428px) {
        width: 90px;
        height: 95px;
      }
      @media screen and (max-width:  375px) {
        width: 120px;
        height: 100px;
        overflow: hidden;
      }

      h3 {
        position: absolute;
        font-size: 20px;

        @media screen and (max-width:  375px) {
          font-size: 10px;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover 95%;
        z-index: 1;
      }

      &:hover {
        background-color: $mainColor;

        img {
          opacity: 0.2;
          z-index: 0;
        }
      }
    }
  }
  .portfolioBtn {
    position: relative;
    bottom: -110px;

    @media (max-width: 768px) {
     bottom: -20px;
    }

    .arrow {
      width: 30px;
      animation: arrowBlink 2s infinite;
    }

    @keyframes arrowBlink {
      100% {
        opacity: 0%;
        color: black;
      }
    }
  }
}
