@import "../../../global.scss";

.stock {
  background-color: white;
  padding: 15px;
  margin: 10px;

  @include mobile {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .left {
    display: flex;
    position: absolute;
    font-family: "Titillium Web", sans-serif;
    color: #d1d7e0;
    flex-direction: column;
    width: 50%;

    @include mobile {
      width: 90%;
      height: 100%;
      flex-direction: column;
    }

    h1 {
      font-size: 100px;
      color: #7096c5;
      font-style: italic;

      @include mobile {
        font-size: 40px;
        text-align: center;
      }
    }

    .inProgress {
      background-color: yellow;
      font-size: 10px;
      border-radius: 5%;
      width: 60px;
      color: #222;
      text-align: center;
      padding: 3px;
    }

    h3 {
      color: #222;

      @include mobile {
        font-size: 15px;
      }
    }

    p {
      font-size: 16px;
      color: #222;

      @include mobile {
        font-size: 10px;
        line-break: strict;
      }
    }

    .contributors {
      display: flex;
      flex-direction: column;

      a {
        flex-direction: row;
        color: #7096c5;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        @include mobile {
          font-size: 10px;
        }
      }
    }

    .progress {
      margin-bottom: 10px;
      width: 80%;

      @include mobile {
        width: 100%;
      }
    }

    .btnContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 10px;
    
      a {
        border-color: #7096c5;
        color: black;
        width: 150px;
        margin-right: 10px;

        @include mobile {
          width: 150px;
        }

        &:hover {
          background-color: #7096c5;
          color: white;
        }
      }
    }
  }

  .stockImgContainer {
    display: flex;
    top: 20px;
    float: right;
    position: relative;
    width: 876px;
    height: 498px;

    @include mobile {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover 100%;
    }
  }
}
