.stock {
  background-color: #7096c5;
  padding: 15px;

  .info {
    display: flex;
    position: absolute;
    font-family: "Titillium Web", sans-serif;
    border: #e3e2df 1px solid;
    border-radius: 0.4rem;
    padding: 15px;
    width: 55%;
    background-color: #E3E2DF;
    color: #222;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .infoHeader {
      display: flex;
      font-size: 135px;
      color: #7096c5;
      align-items: center;
      justify-content: center;
    }

    .inProgress {
      background-color: yellow;
      font-size: 10px;
      border-radius: 5%;
      width: 60px;
      color: #222;
      text-align: center;
      padding: 3px;
    }

    .description {
        color: #222;
        font-size: 40px;
    }

    .techHeader {
      margin-top: 10px;
      color: #222;
    }

    .stockCoders {
      color: #222;
      font-weight: 500;
      text-decoration: none;

      &:hover {
        font-weight: 700;
        color: #7096c5;
      }
    }

    .infoDescription {
      line-height: 30px;
      font-weight: 340;
      font-size: 18px;
    }
  }

  .btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 10px 10px;

    .sc1Btn {
      background-color: #7096c5;
      color: white;
      width: 150px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .scBtn {
      background-color: #7096c5;
      color: white;
      width: 150px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
  }

  .stockImgContainer {
    display: flex;
    float: right;
    position: relative;
    width: 876px;
    height: 498px;

    .stockImg1 {
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover 100%;
    }
  }
}
