@import "../../../global.scss";

.stock {
  background-color: white;
  padding: 15px;
  margin: 10px;

  
  
  @media (max-width:  428px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  @media (max-width:  375px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .left {
    display: flex;
    position: absolute;
    font-family: "Titillium Web", sans-serif;
    color: #d1d7e0;
    flex-direction: column;
    width: 50%;

    @media (max-width: 1024px) {
      justify-content: flex-start;
      width: 95%;
    }
    
    @media (max-width:  428px) {
      width: 90%;
      margin-top: 15%;
      height: 100%;
      flex-direction: column;
    }
    @media (max-width:  375px) {
      width: 90%;
      height: 100%;
      flex-direction: column;
    }

    h1 {
      font-size: 100px;
      color: #7096c5;
      font-style: italic;

      @media (max-width: 1024px) {
        font-size: 80px;
        text-align: center;
        justify-content: center;
      }

      @media (max-width:  428px) {
        font-size: 50px;
        text-align: center;
      }
      @media (max-width:  375px) {
        font-size: 40px;
        text-align: center;
      }
    }

    .inProgress {
      background-color: yellow;
      font-size: 10px;
      border-radius: 5%;
      width: 60px;
      color: #222;
      text-align: center;
      padding: 3px;

      @media (max-width:  375px) {
        font-size: 8px;
        width: 55px;
      }
    }

    h3 {
      color: #222;
      @media (max-width: 1024px) {
        font-size: 35px;
      }
      @media (max-width:  428px) {
        font-size: 25px;
      }
      @media (max-width:  375px) {
        font-size: 16px;
      }
    }

    p {
      font-size: 16px;
      color: #222;

      @media (max-width: 1024px) {
        font-size: 20px;
      }

      @media (max-width:  428px) {
        font-size: 14px;
      }
      @media (max-width:  375px) {
        font-size: 12px;
      }
    }

    .contributors {
      display: flex;
      flex-direction: column;

      a {
        flex-direction: row;
        color: #7096c5;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        @media (max-width:  375px) {
          font-size: 16px;
        }
      }
    }

    .progress {
      margin-bottom: 10px;
      width: 80%;

      @media (max-width:  375px) {
        width: 100%;
      }
    }

    .btnContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 10px;

      @media (max-width: 768px) {
        margin-top: 0px;
      }
    
      a {
        border-color: #7096c5;
        color: black;
        width: 150px;
        margin-right: 10px;

        @media (max-width:  375px) {
          width: 150px;
        }

        &:hover {
          background-color: #7096c5;
          color: white;
        }
      }
    }
  }

  .stockImgContainer {
    display: flex;
    top: 20px;
    float: right;
    position: relative;
    width: 876px;
    height: 498px;

    @media (max-width: 1024px) {
      margin-top: 70%;
      margin-right: 5%;
    }
    @media (max-width: 768px) {
      margin-right: 10%;
      margin-top: 97%;
      width: 600px;
      height: 200px;
    }
    @media (max-width:  428px) {
      display: none;
    }
    @media (max-width:  375px) {
      display: none;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover 100%;
    }
  }
}
