@import '../../../global.scss';

.employee {
    display: flex;
    background-color: white;

    @media (max-width:  1024px) {
      flex-direction: column;
      align-items: center;
    }
  
    @media (max-width:  375px) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  
    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 10px;

      @media (max-width: 1024px) {
        margin: 25px 25px;
        width: 90%;
        justify-content: flex-start;
      }
  
      @media (max-width:  375px) {
        width: 90%;
        height: 100%;
        flex-direction: column;
      }

        h1 {
            font-size: 100px;
            color: white;
            font-style: italic;
            background-color: #101c3b;
            border-bottom: 2px solid #e6292e;
            border-radius: 0.2rem;
            font-weight: 200;
            text-align: center;

            @media (max-width: 1024px) {
              font-size: 100px;
              text-align: center;
              justify-content: center;
            }

            @media (max-width:  375px) {
              font-size: 50px
            }
          }
      

      .inProgress {
        background-color: yellow;
        font-size: 10px;
        border-radius: 5%;
        width: 60px;
        color: black;
        text-align: center;
        padding: 3px;

        @media (max-width:  1024px) {
          font-size: 12px;
          width: 70px;
        }
  
        @media (max-width:  375px) {
          font-size: 8px;
          width: 55px;
        }
      }
  
      h3 {
        font-size: 45px;

        @media (max-width: 1024px) {
          font-size: 45px;
        }
  
        @media (max-width:  375px) {
          font-size: 20px
        }
      }
  
      p {
        font-size: 18px;

        @media (max-width: 1024px) {
          font-size: 25px;
        }
  
        @media (max-width:  375px) {
          font-size: 13px
        }

      }
  
      .progress {
        margin: 10px;
        width: 40%;

        @media (max-width:  1024px) {
          width: 100%;
        }
  
        @media (max-width:  375px) {
          width: 100%;
        }
      }
  
      .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px;
  
        a {
          color: black;
          background-color: white;
          border: 1px solid #101c3b;
          width: 150px;
          margin-right: 10px;
  
          &:hover {
            color: white;
            background-color: #101c3b;
          }
        }
      }
    }

    .right {
        display: flex;
        flex-direction: column;

        @media (max-width: 1024px) {
          margin-bottom: 10%;
          flex-direction: row;
        }
    
        @media (max-width:  375px) {
          display: none;
      }
    
    
        img {
            width: 800px;
            margin: 20px 20px;
            height: 400px;
            object-fit:cover 100%;

            @media (max-width: 1024px) {
              width: 430px;
              height: 300px;
              margin: 25px;
            }
        }
      }
}