@import '../../../global.scss';

.scheduler {
    display: flex;
    background-color: #EDEADA;
  
    @media (max-width:  375px) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  
    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 10px;
  
      @media (max-width:  375px) {
        width: 90%;
        height: 100%;
        flex-direction: column;
      }
  
  
      h1 {
        font-size: 100px;
        color: #222;
        font-style: italic;
        @media (max-width:  375px) {
          font-size: 50px
        }
      }

      .inProgress {
        background-color: yellow;
        font-size: 10px;
        border-radius: 5%;
        width: 60px;
        color: black;
        text-align: center;
        padding: 3px;
  
        @media (max-width:  375px) {
          font-size: 8px;
          width: 55px;
        }
      }
  
      h3 {
        font-size: 45px;
  
        @media (max-width:  375px) {
          font-size: 20px
        }
      }
  
      p {
        font-size: 18px;
  
        @media (max-width:  375px) {
          font-size: 13px
        }

        #beige {
          color: #ebb973;
        }

        #red{
          color: #EBA3B6;
        }

        #blue {
          color: #528DB3;
        }
      }
  
      .progress {
        margin: 10px;
        width: 40%;
  
        @media (max-width:  375px) {
          width: 100%;
        }
      }
  
      .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px;
  
        a {
          color: black;
          background-color: white;
          border: 1px solid #EDEADA;
          width: 150px;
          margin-right: 10px;
  
          &:hover {
            color: black;
            background-color: #EDEADA;
          }
        }
      }
    }

    .right {
        display: flex;
        flex-direction: column;
    
        @media (max-width:  375px) {
          display: none;
      }
    
    
        img {
            width: 800px;
            margin: 20px 20px;
            height: 400px;
            object-fit:cover 100%;
        }
      }
}