@import '../../global.scss';

    .portfolioList {
        font-size: 14px;
        margin-right: 50px;
        padding: 7px;
        border-radius: 10px;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
        color: black;

        @include mobile {
          overflow: hidden;
        }
  
        &.active {
          background-color: $mainColor;
          color: white;
        }
      }