@import '../../global.scss';

.contact {
    background-color: white;
    display: flex;

    @include mobile {
        flex-direction: column;
    }

    .left {
        flex: 2;
        overflow: hidden;
        width: 70%;
        height: 100%;
        margin-left: 20px;

        @include mobile {
          margin-left: 85px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: contain 100%;

        }
    }
    .right {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;


        h2 {
            font-size: 90px;

            @include mobile {
                font-size: 50px;
            }
        }

        form {
            width: 70%;
            height: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            @include mobile {
                margin-bottom: 10px;
                justify-content: space-evenly;
            }

            input {
                width: 450px;
                height: 30px;
                font-size: 14px;

                @include mobile {
                    width: 200px;
                    height: 20px;
                    margin-bottom: 10px;
                }
            }

            textarea {
                width: 450px;
                height: 200px;
                font-size: 14px;

                @include mobile {
                    width: 200px;
                    height: 100px;
                    margin-bottom: 10px;

                }
            }

            button {
                width: 150px;
                height: 30px;
                color: white;
                background-color: crimson;
                border: none;
                border-radius: 10px;
                font-weight: 500;
                cursor: pointer;

                &.focus {
                    outline: none;
                }
            }

            #message {
                color: green;
            }
        }
    }
}