@import '../../../global.scss';

.fitness {
    display: flex;
    background-color: #ecf0f1;

    @media (max-width:  1024px) {
      flex-direction: column;
      align-items: center;
    }
  
    @media (max-width:  375px) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  
    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 30px;

      @media (max-width: 1024px) {
        margin: 25px 25px;
        width: 90%;
        justify-content: flex-start;
      }
  
      @media (max-width:  428px) {
        margin-top: 75px;
        width: 90%;
        height: 100%;
        flex-direction: column;
      }
      @media (max-width:  375px) {
        width: 90%;
        height: 100%;
        flex-direction: column;
      }

        h1 {
            font-size: 100px;
            color: #5793fd;
            font-style: italic;

            @media (max-width: 1024px) {
              font-size: 100px;
              text-align: center;
              justify-content: center;
            }

            @media (max-width:  428px) {
              font-size: 55px;
            }
            @media (max-width:  375px) {
              font-size: 55px;
              text-align: center;
            }
          }
      

      .inProgress {
        background-color: yellow;
        font-size: 10px;
        border-radius: 5%;
        width: 60px;
        color: black;
        text-align: center;
        padding: 3px;

        @media (max-width:  1024px) {
          font-size: 12px;
          width: 70px;
        }
  
        @media (max-width:  375px) {
          font-size: 8px;
          width: 55px;
        }
      }
  
      h3 {
        font-size: 45px;

        @media (max-width: 1024px) {
          font-size: 45px;
        }
  
        @media (max-width:  428px) {
          font-size: 30px
        }
        @media (max-width:  375px) {
          font-size: 20px
        }
      }
  
      p {
        font-size: 24px;

        @media (max-width: 1024px) {
          font-size: 25px;
        }
  
        @media (max-width:  428px) {
          font-size: 15px;
        }
        @media (max-width:  375px) {
          font-size: 13px;
          overflow: hidden;
        }

      }
  
      .progress {
        margin: 10px;
        width: 40%;

        @media (max-width:  1024px) {
          width: 100%;
        }
  
        @media (max-width:  375px) {
          width: 100%;
        }
      }
  
      .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px;
  
        a {
          color: #5793fd;
          background-color: white;
          border: 1px solid #5793fd;
          width: 150px;
          margin-right: 10px;
  
          &:hover {
            color: white;
            background-color: #5793fd;
          }
        }
      }
    }

    .right {
        display: flex;
        flex-direction: column;

        @media (max-width: 1024px) {
          margin-bottom: 2%;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: wrap;
        }
    
        @media (max-width:  428px) {
          display: none;
      }
        @media (max-width:  375px) {
          display: none;
      }
    
    
        img {
            width: 800px;
            margin: 20px 20px;
            height: 500px;
            object-fit:cover 100%;

            @media (max-width: 1024px) {
              width: 330px;
              height: 200px;
            }
        }
      }
}