@import '../../../global.scss';

.weather {
    display: flex;
    background-color: #f5fffa;
  
    @include mobile {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }
  
    .left {
      flex: 1;
      display: flex;
      flex-direction: column;
      margin: 30px;
      
      @include mobile {
          width: 90%;
          height: 100%;
          flex-direction: column;
        }
        
        
        h1 {
        background-color: #ABDBCE;
        border-radius: 0.4rem;
        font-size: 95px;
        text-align: center;
        color: #222;
        font-style: italic;
        width: 45%;
        @include mobile {
          font-size: 50px;
          width: 100%;
        }
      }

      .inProgress {
        background-color: yellow;
        font-size: 10px;
        border-radius: 5%;
        width: 60px;
        color: black;
        text-align: center;
        padding: 3px;
  
        @include mobile {
          font-size: 8px;
          width: 55px;
        }
      }
  
      h3 {
        font-size: 45px;
  
        @include mobile {
          font-size: 20px
        }
      }
  
      p {
        font-size: 25px;
  
        @include mobile {
          font-size: 13px
        }
      }
  
      .progress {
        margin: 10px;
        width: 40%;
  
        @include mobile {
          width: 100%;
        }
      }
  
      .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px;
  
        a {
          color: black;
          background-color: white;
          border: 1px solid black;
          width: 150px;
          margin-right: 10px;
  
          &:hover {
            color: black;
            background-color: #ABDBCE;
          }
        }
      }
    }

    .right {
        display: flex;
        flex-direction: column;
    
        @include mobile {
          display: none;
      }
    
    
        img {
            width: 800px;
            margin: 20px 20px;
            height: 400px;
            object-fit:cover 100%;
            border-radius: 0.4rem;
        }
      }
}