@import "../../../global.scss";

.weather {
  display: flex;
  background-color: #f5fffa;

  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: 375px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .left {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 30px;

    @media (max-width: 1024px) {
      margin: 25px 25px;
      width: 90%;
      justify-content: flex-start;
    }

    @media (max-width: 428px) {
      margin-top: 95px;
      width: 90%;
      height: 100%;
      flex-direction: column;
    }
    @media (max-width: 375px) {
      width: 90%;
      height: 100%;
      flex-direction: column;
    }

    h1 {
      background-color: #abdbce;
      border-radius: 0.4rem;
      font-size: 95px;
      text-align: center;
      color: #222;
      font-style: italic;
      width: 45%;
      @media (max-width: 1024px) {
        font-size: 100px;
        width: 60%;
        text-align: center;
        justify-content: center;
      }
      @media (max-width: 428px) {
        font-size: 50px;
        width: 100%;
      }
      @media (max-width: 375px) {
        font-size: 50px;
        width: 100%;
      }
    }

    .inProgress {
      background-color: yellow;
      font-size: 10px;
      border-radius: 5%;
      width: 60px;
      color: black;
      text-align: center;
      padding: 3px;

      @media (max-width: 1024px) {
        font-size: 12px;
        width: 70px;
      }

      @media (max-width: 375px) {
        font-size: 8px;
        width: 55px;
      }
    }

    h3 {
      font-size: 45px;

      @media (max-width: 1024px) {
        font-size: 45px;
      }

      @media (max-width: 428px) {
        font-size: 30px;
      }
      @media (max-width: 375px) {
        font-size: 20px;
      }
    }

    p {
      font-size: 25px;

      @media (max-width: 1024px) {
        font-size: 25px;
      }

      @media (max-width: 428px) {
        font-size: 15px;
      }
      @media (max-width: 375px) {
        font-size: 13px;
      }
    }

    .progress {
      margin: 10px;
      width: 40%;

      @media (max-width: 1024px) {
        width: 100%;
      }

      @media (max-width: 375px) {
        width: 100%;
      }
    }

    .buttonContainer {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      margin: 10px;

      a {
        color: black;
        background-color: white;
        border: 1px solid black;
        width: 150px;
        margin-right: 10px;

        &:hover {
          color: black;
          background-color: #abdbce;
        }
      }
    }
  }

  .right {
    display: flex;
    flex-direction: column;

    @media (max-width: 1024px) {
      margin-bottom: 1%;
      flex-direction: row;
    }

    @media (max-width: 428px) {
      display: none;
    }
    @media (max-width: 375px) {
      display: none;
    }

    img {
      width: 800px;
      margin: 20px 20px;
      height: 400px;
      object-fit: cover 100%;
      border-radius: 0.4rem;

      @media (max-width: 1024px) {
        width: 500px;
        height: 300px;
        margin: 10px;
      }
    }
  }
}
