@import '../../global.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.intro {
    background-color: #D3E3FC;
    display: flex;
    

    .left {
        flex: 0.5;
        position: relative;
        overflow: hidden;

        .imgContainer {
            width: 800px;
            height: 800px;
            background: rgb(55,71,133);
            background: linear-gradient(0deg, rgba(55,71,133,1) 22%, rgba(168,208,230,1) 100%);
            border-radius: 50%;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            margin: 15px;
            margin-top: 80px;
            img {
                height: 97%;
                bottom: 0;

            }
        }
    }
    .right {
        flex: 0.5;
        
        .wrapper {
            width: 100%;
            height: 100%;
            padding-left: 50px;
            display: flex;
           flex-direction: column;
         

           h1 {
               font-size: 200px;
               font-family: 'Montserrat', sans-serif;
               font-weight: 300;
               margin: 10px 0;
           }


           h2 {
                font-size: 70px;
                font-weight: 250;
                
           }

           h3 {
            font-size: 70px;
            font-weight: 250;

            span {
                font-size: inherit;
                font-weight: 500;
                color: #F90;
                outline: black;
            }

            .ityped-cursor {
                animation: blink 1s infinite;
            }

            @keyframes blink {
                50% {
                    opacity: 1;
                }
                100% {
                    opacity: 0;
                }
            }

           }
        }
        a {
            position: absolute;
            bottom: 10px;

            img {
                width: 30px;
                animation: arrowBlink 2s infinite;
            }

            @keyframes arrowBlink {
                100% {
                    opacity: 0%;
                    color: black;
                }
            }
        }
    }
}
