@import "../../global.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
.intro {
  background-color: #d3e3fc;
  display: flex;
  overflow: hidden;
  
  @media screen and (max-width: 1024px) {
    margin: 0;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 428px) {
    flex-direction: column;
    align-items: center;
  }
  @media screen and (max-width: 375px) {
    flex-direction: column;
    align-items: center;
  }


  .left {
    flex: 0.5;
    position: relative;

    .imgContainer {
      width: 700px;
      height: 700px;
      background: rgb(55, 71, 133);
      background: linear-gradient(
        0deg,
        rgba(55, 71, 133, 1) 22%,
        rgba(168, 208, 230, 1) 100%
      );
      border-radius: 50%;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      margin: 15px;
      margin-top: 80px;
      // iPad Pro
      @media screen and (max-width: 1024px) {
        align-items: flex-start;
        margin-top: 1px;
      }
      @media screen and (max-width: 768px) {
        height: 500px;
        width: 500px;
        
      }
      @media screen and (max-width: 428px) {
        margin-top: 35px;
        height: 360px;
        width: 400px;
      }
      // iPhoneX
      @media screen and (max-width: 375px) {
        margin-top: 15px;
        height: 290px;
        width: 300px;
      }
      // iPhone6/7/8
    //   @media (max-width: 667px) {
    //     height: 290px;
    //     width: 300px;
    //   }

      img {
        height: 97%;
        bottom: 0;
     
        @media screen and (max-width: 428px) {
            height: 100%;
        }
        @media screen and (max-width: 375px) {
            height: 100%;
        }
        // @media (max-width: 667px) {
        //   margin-right: 50px;
        //   height: 100%;
        // }
     
      }
    }
  }
  .right {
    flex: 0.5;

    .wrapper {
      width: 100%;
      height: 100%;
      padding-left: 50px;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1024px) {
        padding-left: 0;
        align-items: center;
      }
      @media (max-width: 768px) {
        padding-left: 0;
        align-items: center;
      }
      @media screen and (max-width: 428px) {
        padding-left: 0;
        align-items: center;
      }
      @media screen and (max-width: 375px) {
        padding-left: 0;
        align-items: center;
      }

      h1 {
        font-size: 200px;
        font-family: "Montserrat", sans-serif;
        font-weight: 300;
        margin: 10px 0;

        @media screen and (max-width: 1024px) {
            font-size: 120px;
        }
        @media (max-width: 768px) {
            font-size: 90px;
        }
        @media screen and (max-width: 428px) {
          font-size: 58px;
        }
        @media screen and (max-width: 375px) {
          font-size: 50px;
        }

      }

      h2 {
        font-size: 70px;
        font-weight: 250;

        @media screen and (max-width: 1024px) {
            padding-top: 20px;
            font-size: 50px;
        }
        @media (max-width: 768px) {
            padding-top: 20px;
            font-size: 50px;
        }
        @media screen and (max-width: 428px) {
          padding-top: 20px;
          font-size: 30px;
        }
        @media screen and (max-width: 375px) {
          padding-top: 20px;
          font-size: 30px;
        }
    
      }

      h3 {
        font-size: 70px;
        font-weight: 250;

        @media screen and (max-width: 1024px) {
            font-size: 50px;
        }
        @media screen and (max-width: 428px) {
          font-size: 30px;
        }
        @media screen and (max-width: 375px) {
          font-size: 30px;
        }
       

        span {
          font-size: inherit;
          font-weight: 500;
          color: #f90;
          outline: black;
        }

        .ityped-cursor {
          animation: blink 1s infinite;
        }

        @keyframes blink {
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
      }
    }
    a {
      position: absolute;
      bottom: 80px;

      @media screen and (max-width: 1024px) {
          left: 47%;
      }
      @media screen and (max-width: 428px) {
        left: 45%;
        bottom: 15%;
      }
      @media screen and (max-width: 375px) {
        left: 45%;
        bottom: 9%;
      }
    

      img {
        width: 30px;
        animation: arrowBlink 2s infinite;
      }

      @keyframes arrowBlink {
        100% {
          opacity: 0%;
          color: black;
        }
      }
    }
  }
}
