@import '../../global.scss';

.work {
  background-color: #29648A;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;


  

.workHeader {
    color: #AAABB8;
    font-size: 100px;
    z-index: 2;
    position: absolute;
    top: 1px;
    left: 800px;
   
    @media (max-width: 1024px) {
      left: 300px;
    }
    @media (max-width: 428px) {
      display: none;
    }
  }

  .arrow {
    height: 60px;
    position: absolute;
    cursor: pointer;

    @media (max-width: 1024px) {
      height: 40px;
    }

    @media (max-width:  428px) {
      display: none;
    }
    @media (max-width:  375px) {
      display: none;
    }
    
    &.left {
      left: 100px;
      transform: rotate(92deg);
      
      @media (max-width: 1024px) {
        left: 1px;
      }
    }
    &.right {
      right: 100px;
      transform: rotate(270deg);
      
      @media (max-width: 1024px) {
        right: 1px;
      }
    }
  }

  

  .slider {
    height: 450px;
    display: flex;
    position: absolute;
    // change to -500vh to see
    left: 0;
    transition: all 1s ease-in-out;
    overflow: hidden;

    @media (max-width:  428px) {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }
    @media (max-width:  375px) {
      height: 100vh;
      flex-direction: column;
      justify-content: center;
    }

    .workContainer {
      width: 100vw;
      display: flex;
      align-items: center;
      justify-content: center;
      
      
      
      .item {
        width: 900px;
        height: 100%;
        background-color: white;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:  428px) {
          width: 93%;
          height: 250px;
          margin: 10px;
        }
        @media (max-width:  375px) {
          width: 93%;
          height: 200px;
          margin: 15px;
        }

        .left {
          flex: 4;
          height: 90%;
          display: flex;
          align-items: center;
          justify-content: center;

          
          .leftContainer {
            width: 90%;
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media (max-width:  428px) {
              width: 100%;
              height: 100%;
              margin-left: 10px;
            }
            @media (max-width:  375px) {
              width: 100%;
              height: 100%;
              margin-left: 10px;
            }
            
            
            .imgContainer {
              width: 50px;
              height: 50px;
              border-radius: 10%;
              margin-left: 20px;
              display: flex;
              align-items: center;
              justify-content: center;

              @media (max-width:  428px) {
              display: none;
              }
              @media (max-width:  375px) {
              display: none;
              }
          
            }
            h2 {
              font-size: 20px;
              overflow: hidden;
              padding-bottom: 3px;
              

              @media (max-width:  428px) {
               font-size: 12px;
               }
              @media (max-width:  375px) {
               font-size: 12px;
               }
            }
            p {
              font-size: 15px;
              margin-bottom: 0;
              overflow: hidden;
              
              @media (max-width:  428px) {
                font-size: 9px;
                height: 100%;
                margin-bottom: 0;
                overflow: scroll;
                }
              @media (max-width:  375px) {
                font-size: 9px;
                height: 100%;
                margin-bottom: 0;
                overflow: scroll;
                }
            }
          }
        }

        .right {
          flex: 8;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;

          img {
            width: 400px;

            @media (max-width:  428px) {
              width: 250px;
              height: 100%;
              }
            @media (max-width:  375px) {
              width: 225px;
              height: 100%;
              }
          }
        }
      }
    }
  }
  .workBtn {
    position: absolute;
    bottom: 80px;
  
    @media (max-width:  428px) {
      bottom: 5px;
    }
    @media (max-width:  375px) {
      bottom: 5px;
    }
    .arrowDown {
        width: 30px;
        animation: arrowBlink 2s infinite;

        
    }
  
    @keyframes arrowBlink {
        100% {
            opacity: 0%;
            color: black;
        }
    }
  }
}

