@import '../../../global.scss';

.parthub {
  background-color: black;

  @media (max-width:  375px) {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .phInfo {
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 25px;
    padding: 15px;
    width: 50%;

    @media (max-width: 1024px) {
      width: 90%;
      height: 100%;
      justify-content: flex-start;
    }
    @media (max-width:  375px) {
      width: 90%;
      height: 100%;
      flex-direction: column;
    }
   

    h1 {
      color: white;
      font-size: 105px;
      border-radius: 2%;

      @media (max-width: 1024px) {
        font-size: 75px;
        text-align: center;
      }
      @media (max-width: 768px) {
        font-size: 55px;
        text-align: center;
      }
      @media (max-width:  375px) {
        font-size: 40px;
      }
    

      span {
        background-color: #f90;
        color: black;
        border-radius: 0.3rem;
        padding: 2.5px;
        margin-left: 5px;
      }
    }

    h2 {
      color: white;

      @media (max-width: 1024px) {
        font-size: 45px;
      }
      @media (max-width: 768px) {
        font-size: 35px;
      }
      @media (max-width:  375px) {
        font-size: 20px;
      }
      
    }

    .inProgress {
      background-color: crimson;
      font-size: 10px;
      border-radius: 5%;
      width: 60px;
      color: white;
      text-align: center;
      padding: 3px;

      @media (max-width:  375px) {
        font-size: 8px;
        width: 55px;
      }
    }

    p {
      color: white;
      font-size: 18px;
      font-weight: 300;

      @media (max-width: 1024px) {
        font-size: 25px;
      }
      @media (max-width: 768px) {
        font-size: 18px;
      }
      @media (max-width:  375px) {
        font-size: 11px;
        flex-wrap: wrap;
      }
      
    }

    h3 {
      color: white;

      @media (max-width:  375px) {
        font-size: 20px;
      }

    }

    .contributors {
      display: flex;
      flex-direction: column;

      a {
        flex-direction: row;
        color: #f90;
        cursor: pointer;
        text-decoration: none;
        list-style: none;
      }
    }

    .progress {
      width: 60%;
      margin-bottom: 10px;

      @media (max-width: 1024px) {
        width: 90%;
      }
  
      @media (max-width:  375px) {
        width: 90%;
      }
    }

    .buttonContainer {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin: 10px;
    
        .ph1Btn {
          background-color: #f90;
          color: black;
          width: 150px;
          margin-right: 10px;
        }
        .phBtn {
          background-color: #f90;
          color: black;
          width: 150px;
          
        }
      }
  }

  

  .imgContainer {
    display: flex;
    float: right;
    width: 950px;
    height: 550px;

    @media(max-width: 1024px) {
      margin-top: 850px;
    }
    @media (max-width: 768px) {
      margin-top: 700px;
    }
    @media (max-width:  375px) {
      display: none;
    }
   

    .partImg {
      top: 20;
      width: 100%;
      height: 100%;
      object-fit: cover 100%;

      @media (max-width: 1024px) {
        width: 90%;
        height: 70%;
      }
      @media (max-width: 768px) {
        height: 40%;
        margin-left: 70px;
      }
      
    }
  }
}
